HEADER {
    background-color: aqua;
}

/* 
Devices Sizes
Extra small devices (phones): @media (max-width: 576px)
Small devices (tablets): @media (min-width: 576px)
Medium devices (desktops): @media (min-width: 768px)
Large devices (desktops): @media (min-width: 992px)
Extra large devices (large desktops): @media (min-width: 1200px) 
*/

:root {
    --extra-large-size: 1200px;
    --color-primary: #0d6efd;
    --color-secondary: #aaa;
}

/* COMPONENTS */
UL {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* TYPOGRAPHY */
H2 {
    color: var(--color-primary);
}

/* UTILITY */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
HEADER {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    padding: 20px;
}

HEADER H1 {
    text-align: center;
    font-size: 15px;
    display: none;
}

HEADER IMG {
    width: 40px;
}

/* NAVIGATION MENU */
NAV {
    padding: 10px;
    display: none;
    width: 100%;
}

NAV.open {
    display: flex;
}

NAV UL {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 0;
    margin: 0;
}

NAV UL LI {
    text-align: center;
}

MAIN {
    padding: 20px;
}

#menuToggle {
    padding: 20px;
    cursor: pointer;
}

#menuToggle I {
    font-size: 25px;
}

ASIDE {
    display: none;
}

ARTICLE {
    padding: 10px;
    border-bottom: 3px solid var(--color-primary);
    margin: 20px 0;
}

FOOTER {
    display: flex;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);
}

FOOTER UL {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}

/*  MEDIA QUERIES */

/* Tablets (Medium) */
@media (min-width: 576px) and (max-width: 991px) {
    /* Styles for medium devices (tablets) */
}

/* Desktop (Large) */
@media (min-width: 992px) {
    /* Styles for large devices (tablets) */
    aside {
        display: flex;
    }

    HEADER {
        justify-content: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }

    HEADER H1 {
        display: block;
    }

    NAV {
        display: flex;
        padding: 0;
        width: 100%;
    }

    NAV UL {
        flex-direction: row;
        padding: 0;
    }

    #menuToggle {
        display: none;
    }

    .articles .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    MAIN {
        float: left;
        width: 70%;
    }

    ASIDE {
        float: right;
        width: 30%;

        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    ASIDE SECTION {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

    ASIDE SECTION * {
        margin: 0;
    }

    ASIDE SECTION H2 {
        margin-bottom: 10px;
    }

    FOOTER {
        float: none;
        width: 100%;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    FOOTER UL {
        margin: 0;
    }
}

/* Desktops / Big Screens (Extra Large) */
@media (min-width: 1200px) {
    /* Styles for extra large devices (tablets) */
}
